apiVersion: v1
kind: Service
metadata:
  name: application-service
  namespace: microservices
spec:
  selector:
    app: application-service
  ports:
    - port: 80
      targetPort: 8080
  type: ClusterIP
